.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  background-color: #000000;
  color: #ffffff;
  padding: 25px;
}

.social-media img {
  width: 35px;
  height: 35px;
}

.footer-content {
  /* display: grid; */
  text-align: center;
  /* max-width: 1200px; */
  /* margin: auto; */
  /* grid-template-columns: 1fr; */
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-info {
  display: flex;
  font-size: 15px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    background-color: #000000;
    color: #ffffff;
    padding: 25px;
  }
}

/* desktop:  */
@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #000000;
    color: #ffffff;
    padding: 25px;
  }

  .social-media {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .footer-info {
    display: flex;
    font-size: 15px;
    color: #ffffff;
    justify-content: flex-end;
    align-items: center;
  }
}
