body {
  margin: 0;
}

.heading {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.logo {
  color: white;
  font-size: 20px;
  padding-left: 10px;
}

.nav {
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  color: white;
  padding: 10px 20px;
  background-color: black;
}

.nav-list {
  display: none;
  justify-content: flex-end;
  gap: 5px;
  font-size: 20px;
}

.nav-list li,
a:hover {
  text-decoration: underline;
}

.nav-list li,
a {
  display: inline-block;
  list-style: none;
}

.checkbtn {
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: block;
  padding-right: 12px;
  z-index: 1000;
}

.nav-list-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  list-style: none;
  background-color: black;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  gap: 10px;
}

.nav-list-mobile li {
  margin: 20px 0;
}

.nav-list-mobile li,
a {
  color: white;
}

#check {
  display: none;
}

#check:checked ~ .nav-list-mobile {
  right: 0;
}

/* tablet 768px - 1024px */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: white;
    padding: 10px 20px;
    background-color: black;
  }

  .nav-list-mobile {
    display: flex;
    list-style: none;
    background-color: black;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  } */

  /* .nav-list-mobile ul,
  li,
  a {
    display: inline-block;
    color: white;
  } */

  .nav-list {
    display: flex;
    gap: 15px;
  }

  .nav-list li,
  a {
    text-decoration: none;
    font-size: 15px;
  }

  .checkbtn {
    display: none;
  }
}

/* desktop > 1024 */

@media screen and (min-width: 1024px) {
  .nav-list-mobile {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .nav-list li,
  a {
    font-size: 20px;
    text-decoration: none;
  }

  .logo {
    font-size: 25px;
  }

  .checkbtn {
    display: none;
  }
}
