.location {
  display: grid;
  padding: 5px;
  grid-template-areas:
    'location-address'
    'location-map';
  grid-template-columns: 1fr;
  gap: 20px;
  min-height: 100vh;
  /* width: 100vw; */
  margin: 20px 0;
}
.location-heading {
  color: #3aeb52;
}

.location-address {
  grid-area: location-address;
  grid-template-columns: 1fr;
  color: green;
  font-size: 24px;
  padding: 16px;
  text-align: center;
}

.p-address {
  color: rgb(82, 76, 76);
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}
.location-map {
  grid-area: location-map;
  border-radius: 5%;
  grid-template-columns: 1fr;
}

.address-link {
  color: green;
}

.address-link:visited {
  color: #3aeb52;
}

/* Tablet Media Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .location {
    display: grid;
    padding: 5px;
    grid-template-areas: 'location-address location-map';
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
  }

  .location-address {
    height: auto;
  }

  .location-map {
    height: auto;
  }

  .p-address {
    color: rgb(85, 83, 83);
    font-size: 26px;
    line-height: 1.5;
  }

  .location-iframe {
    width: 100%;
  }

  .address-link {
    color: green;
  }

  .address-link:visited {
    color: greenyellow;
  }
}

/* Desktop Media Queries */
@media screen and (min-width: 1025px) {
  .location {
    display: grid;
    padding: 5px;
    grid-template-areas: 'location-address location-map';
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 100vw;
  }
  .location-heading {
    color: #3aeb52;
  }

  .location-address {
    grid-area: location-address;
    grid-template-columns: 1fr;
    color: green;
    font-size: 24px;
    padding: 16px;
    text-align: center;
  }

  .p-address {
    color: rgb(82, 76, 76);
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
  }

  .location-map {
    grid-area: location-map;
    grid-template-columns: 1fr;
    border-radius: 5%;
  }

  .address-link {
    color: green;
  }

  .address-link:visited {
    color: #3aeb52;
  }
}
