.schedule {
  padding: 50px;
  background: linear-gradient(pink, blueviolet);
  text-align: center;
}

.time-slot {
  background-color: white;
  color: darkblue;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 2rem;
  border-radius: 15px;
}

.schedule-grid {
  display: grid;
  grid-template-areas: 'time-slot';
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat (4fr, 1); */
  gap: 50px;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 3rem;
  padding: 30px;
  color: white;
}

.schedule p {
  color: black;
}

/*tablet*/
@media screen and (min-width: 425px) and (max-width: 1024px) {
  .schedule {
    padding: 25px;
    background: linear-gradient(pink, blueviolet);
    text-align: center;
  }

  .time-slot {
    background-color: white;
    color: darkblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
    border-radius: 15px;
  }

  .schedule-grid {
    display: grid;
    grid-template-areas: 'time-slot time-slot';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4fr, 1);
    gap: 25px;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    padding: 10px;
    color: white;
  }

  .schedule p {
    color: black;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .schedule {
    padding: 50px;
    background: linear-gradient(pink, blueviolet);
    text-align: center;
  }

  .time-slot {
    background-color: white;
    color: darkblue;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2rem;
    border-radius: 15px;
  }

  .schedule-grid {
    display: grid;
    grid-template-areas: 'time-slot time-slot';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4fr, 1);
    gap: 50px;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    padding: 30px;
    color: white;
  }

  .schedule p {
    color: black;
  }
}
