.speakers img {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: auto;
  max-width: 150px;
  display: block;
  border-radius: 75px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 10px;
  justify-content: center;
  max-width: 150px;
  margin: 0 auto;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  background-color: darkgray;
  border-radius: 25px;
  padding: 10px;
}

.h2 {
  margin-left: 500px;
}

@media screen and (max-width: 768px) {
  .speakers-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
